<!doctype html>
<html lang="en">
<head>

</head>
<body>
<h1>Greetings from Learning Springboot3 with Security</h1>
<ul>
    {{#videos}}
        <li>
            {{name}}
        </li>
    {{/videos}}
</ul>
</body>
</html>